<div class="footer">
    <div class="wrap">
        <div class="top">
            <ul>
                {{#each menu}}
                <li><a href={{url}}>{{text}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
