<div class="footer">
    <div class="wrap">
        <div class="top">
            <ul>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/join">加入我们</a></li>
                <li><a href="/contact">联系我们</a></li>
                <li><a href="/">ENGLISH</a></li>
            </ul>
        </div>
        <div class="bottom">
            <p>邮件：infor@ideaology.cn</p>
            <p>北京意视方略广告有限公司</p>
        </div>
    </div>
</div>
