<div class="nav">
	<ul>
		{{#each menu}}
			{{#if (equal @index 2)}}
				<li class="logo"><a href="/"></a></li>
			{{else}}
				<li><a href={{url}} class={{#if (equal current '1')}}"active"{{/if}}>{{text}}</a></li>
			{{/if}}
		{{/each}}
	</ul>
</div>
