html {
	-webkit-tap-highlight-color: transparent;
	height: 100%;
	min-width: 320px;
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.28em;
	line-height: 1;
}
* {
	margin: 0;
	padding: 0;
}
a {
	outline: 0;
	text-decoration: none;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
ul,
li,
dl,
dt,
dd,
form {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clearfix {
	height: 0;
	clear: both;
	float: none;
	overflow: hidden;
	width:100%
}
