<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>ideaology</title>
    <link rel="stylesheet" href="/css/join.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    {{> nav current='1' menu=menu}}
    <div class="wrap" id="about">
        <div class="content">
            <div class="content-form">
                <h1>关于我们</h1>
                <div class="content-text">
                    <p>北京意视方略广告有限公司成立于2015年秋，是一家全球性的视频服务方案商。基于自身专业的商业策略能力和创意策划能力、依托全球化的影视制作资源，我们可为您提供从广告创意到拍摄执行的全流程服务。专注于以优质创意内容撬动传播、帮助广告主以低成本获取杠杆化的营销效果。</p>
                    <p>ideaology和你一起，让世界多一些人们爱看、并且乐于分享的广告。</p>
                    <p>服务客户：英国总领事馆文化教育处、super.natural、ticwatch、亿百润、京东、思密达</p>
                    <p>曾获奖项：金瑞营销奖“中国最佳网络广告案例奖-互动类”、中国广告长城奖银奖、大中华区艾菲奖入围奖、金鼠标数字营销病毒视频铜奖</p>
                    <p class="extra" style="margin-top:50px;">北京意视方略广告有限公司</p>
                    <p class="extra">电话: 010-51667534</p>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</body>
</html>
