<html>
<head>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title></title>
    <style>
    *{ margin: 0; padding: 0}
	body, button, input, select, textarea { font: 12px/1.5 "黑体";}
	h1, h2, h3, h4, h5, h6 { font-size: 100%}
	em{ font-style: normal}
	ul, ol { list-style: none}
	a { text-decoration: none}
	img { border: 0; max-width:100% }
	.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden}
	body,html,.wrap{height: 100%;}
	.wrap{width: 100%; overflow-x:hidden}
	.fl{float: left }
	.fr{float: right }
	.page-con {
		width: 100%;
	    height: 100%;
	    background-color: black;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-size: cover;
	}
	.video-box {
		width: 100%;
	    height: 100%;
	    background-color: black;
	}
	.page1-con {
		width: 1px;
		height: 1px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate( -50%, -50%);
	    background: url(/kiss.jpg) center center no-repeat;
	    background-size: contain;
	}
	.page2 {
		display: none;
	}
	.done .page1-con {
		width: 100%;
		height: 56.2%;
	}
    </style>
</head>

<body>
    <div class="wrap">
    	<div class="page page1">
    		<video class="video-box" id="videoIndex1" x-webkit-airplay="true" webkit-playsinline="true" preload="auto" autoplay src="http://7xj9ez.com1.z0.glb.clouddn.com/1.mp4" ></video>
    		<div class="page1-con page-con" id="kiss"></div>
    	</div>
    	<div class="page page2">
    		<video class="video-box" id="videoIndex2" x-webkit-airplay="true" webkit-playsinline="true" preload="auto"  src="http://7xj9ez.com1.z0.glb.clouddn.com/2.mp4" ></video>
    	</div>
	</div>
</body>
<script src="/zepto.min.js"></script>
<script>
	var query = function(selector){
		return document.querySelector(selector);
	};
	var v1 = query("#videoIndex1"),v2 = query("#videoIndex2"), kiss = $("#kiss");
	v1.addEventListener("ended",function(e) {
		$(".page1").addClass("done");
	});
	$("#kiss").one('touchstart', function (e) {
		$(".page1").remove();
		$(".page2").show();
		setTimeout(function (){
		  v2.play();
		},200)
	});
</script>
</html>
