<html>
<head>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>ideaology 世糟广</title>
	<noscript>
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    </noscript>
    <script>
        (function() {
            var ua = window && window.navigator && window.navigator.userAgent;
            if (!ua) return;
            var text, scale = 1.0, ratio = 1;
            if (/(iphone|ipad|ipod)/i.exec(ua)) {
                if (window.devicePixelRatio >= 2) {
                    scale *= 0.5;
                    ratio *= 2;
                }
            }
            text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale +', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';
            document.write(text);
            if (ratio) { document.documentElement.style.fontSize = 50*ratio + "px"; }
            document.documentElement.classList.add('ratio--' + ratio)
        })();
    </script>
	<link rel="stylesheet" href="/css/index_mobile.css" charset="utf-8">
</head>
<body>
    {{#with index}}
    <div class="one" id="wrap">
		<nav>
            <div id="nav_wrap" class="nav-wrap">
                <div class="nav-btn"></div>
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="#!business">商业合作</a></li>
                    <li><a href="#!join">加入我们</a></li>
                    <li><a href="#!contact">联系我们</a></li>
                    <li><a href="#!en">ENGLISH</a></li>
                </ul>
                <i class="wx"></i>
            </div>
        </nav>
        <div class="step1">
    		<div class="slider-wrap">
    			<div id="slider"></div>
    		</div>
    		<div class="section section1"></div>
    		<div class="section flow">
    			<a class="btn" href="mailto:infor@ideaology.cn">获取免费咨询</a>
    			<p class="p1">我们的服务流程</p>
    			<p>仅需3步，即可畅享世界级的服务体验</p>
    			<p class="p2">提交项目概要</p>
    			<img src="/images/m/arrow1.png" alt="" />
    			<p class="p2">获取策略和创意</p>
    			<img src="/images/m/arrow2.png" alt="" />
    			<p class="p2">选择导演并执行</p>
    		</div>
    		<div class="intro">
    			<div class="section" style="background:#FFD102; color: #000; padding-top: .12rem;">
    				<img src="/images/m/section2.png" alt="" style="width:3.92rem"/>
    				<div class="textarea">
    					<p class="title">来自全球的拍摄资源</p>
    					<p>我们将视频的拍摄执行放到了泰国，提升执行品质的同时，还帮助客户合理地控制了价格。泰国早在几十年前，就成为了整个欧美在亚洲的摄制中心</p>
    				</div>
    			</div>
    			<div class="section" style="padding-top: .2rem;">
    				<img src="/images/m/section3.png" alt="" style="width:3.36rem"/>
                    <div class="textarea">
    					<p class="title">决策机制最优化</p>
    					<p>客户不再只面对某一位导演，而将直面整个行业，我们在给予客户充分选择的同时，也让整个决策流程更透明</p>
    				</div>
    			</div>
    			<div class="section" style="background:#25CE9E; color: #1C3E58; padding-top: .18rem; padding-bottom: .4rem;">
    				<img src="/images/m/section4.png" alt="" style="width:2.87rem"/>
                    <div class="textarea">
    					<p class="title">费用仅有行业均值的50%</p>
    					<p>感谢互联网打破了行业和信息的壁垒，让我们能够以行业平均50%的价格，为客户提供服务。我们的拍摄费用从10几万到上百万不等</p>
    				</div>
    			</div>
    			<div class="section" style="background:#4088DA; color: #fff;padding-top: .44rem;padding-bottom: .4rem;">
    				<img src="/images/m/section5.png" alt="" style="width:2.8rem"/>
                    <div class="textarea">
    					<p class="title">创意服务众包化</p>
    					<p>圈养的创意人员容易失去激情，我们同来自全球的数千位创意工作者保持着长期合作关系，在这里，没有不可能和做不到</p>
    				</div>
    			</div>
    		</div>
            <div class="cooperate">
                <p>案例展示</p>
                <ul class="content" id="video">
					{{#each cmsData}}
					<li data-video={{story_video_link}} data-title={{story_title}}>
						<img src="http://idea-admin.ideaology.cn/file/{{story_logo}}" alt="">
	                </li>
					{{/each}}
	            </ul>
            </div>
        </div>
        <div class="step2">
            <div class="section"></div>
            <div class="join-us">
                <p class="p1">加入我们</p>
                <p class="p2">团队协作帮助我们实现梦想</p>
                <a href="mailto::infor@ideaology.cn" class="email-btn btn">电子邮件</a>
                <p class="p3">or</p>
                <form id="joinus">
                    <div class="form-row">
                        <input type="text" placeholder="姓名" class="j-name"></input>
                    </div>
                    <div class="form-row">
                        <input type="tel" placeholder="联系方式"  class="j-phone"></input>
                    </div>
                    <div class="form-row">
                        <textarea  placeholder="想对我们说的话" class="j-remark"></textarea>
                    </div>
                    <a class="submit-btn btn" id="join-btn">发送</a>
                </form>
            </div>
        </div>
        <div class="step3" id="step3">
            <div class="section"></div>
            <ul class="tab">
                <li>我要做视频</li>
                <li>商业合作</li>
            </ul>
            <form id="consume">
                <p>通过信息提供，能够帮助我们更了解您的需求,</p>
                <p>从而更好的为您提供咨询服务</p>
                <div class="form-row">
                    <input type="text" placeholder="姓名" class="j-name"></input>
                </div>
                <div class="form-row">
                    <input type="email" placeholder="电子邮箱" class="j-email"></input>
                </div>
                <div class="form-row">
                    <textarea  placeholder="请描述下您的具体业务" class="j-describe"></textarea>
                </div>
                <div class="form-row">
                    <textarea  placeholder="请形容下您的商业远期愿景，和当前的主要目标消费群体，谁是您的客户？他们的年龄、性别、性格特征、教育背景分别都是什么？" class="j-self_desc"></textarea>
                </div>
                <div class="form-row">
                    <textarea  placeholder="对于这个视频，您有任何的期待吗？是否有任何其它的创意视频广告启发了您，如有，请将链接一并放在这里。" class="j-feedback1"></textarea>
                </div>
                <div class="form-row">
                    <textarea  placeholder="有哪些元素或者内容，您不喜欢出现在视频中？" class="j-feedback2"></textarea>
                </div>
                <div class="form-row">
                    <input type="date" placeholder="项目截止日期  月/日/年" class="j-project_end_time"></input>
                </div>
                <div class="form-row inline-form-row">
                    <input type="number" placeholder="您的预算？   ¥ 0.00"  class="j-project_budget"></input>
                </div>
                <div class="form-row">
                    <textarea  placeholder="其它任何您想补充的信息" class="j-other"></textarea>
                </div>
                <a class="submit-btn btn" id="consume-btn">发送</a>
            </form>
            <form id="business">
                <p>对于合作，我们始终保持着完全开放的心态,</p>
                <p>随时恭候您的来信</p>
                <div class="form-row">
                    <input type="text" placeholder="姓名" class="j-name"></input>
                </div>
                <div class="form-row">
                    <input type="email" placeholder="电子邮箱" class="j-email"></input>
                </div>
                <div class="form-row">
                    <textarea  placeholder="请描述下您的主营业务" class="j-describe"></textarea>
                </div>
                <div class="form-row">
                    <textarea  placeholder="请留下您想要传递给我们的信息" class="j-remark"></textarea>
                </div>
                <a class="submit-btn btn" id="business-btn">发送</a>
            </form>
        </div>
        <footer>
            <div class="top">
                <i class="wx"></i>
            </div>
            <div class="bottom">
                <p class="title">联系我们！</p>
                <p>info@ideaology.cn</p>
                <p>北京意视方略广告有限公司</p>
            </div>
        </footer>
	</div>
    <iframe frameborder="0" allowfullscreen id="video_iframe"></iframe>
    {{/with}}
</body>
<script src="/vendor/zepto.min.js"></script>
<script src="/vendor/islider.min.js"></script>
<script src="/vendor/islider.plugin.dot.js"></script>
<script src="/js/index_mobile.js"></script>
</html>
