<html>
<head>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>ideaology 世糟广</title>
	<noscript>
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    </noscript>
    <script>
        (function() {
            var ua = window && window.navigator && window.navigator.userAgent;
            if (!ua) return;
            var text, scale = 1.0, ratio = 1;
            if (/(iphone|ipad|ipod)/i.exec(ua)) {
                if (window.devicePixelRatio >= 2) {
                    scale *= 0.5;
                    ratio *= 2;
                }
            }
            text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale +', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';
            document.write(text);
            if (ratio) { document.documentElement.style.fontSize = 50*ratio + "px"; }
            document.documentElement.classList.add('ratio--' + ratio)
        })();
    </script>
	<link rel="stylesheet" href="/css/index_mobile.css" charset="utf-8">
</head>
<body>
    <div class="wrap">
		<nav></nav>
		<div class="slider-wrap">
			<div id="slider"></div>
		</div>
		<div class="section">
			<img src="/images/m/section1.png" alt="" width="100%"/>
		</div>
		<div class="section flow">
			<a class="btn" href="javascript:void(0);">获取免费咨询</a>
			<p class="p1">我们的服务流程</p>
			<p>仅需3步，即可畅享世界级的服务体验。</p>
			<p class="p2">提交项目概要</p>
			<img src="/images/m/arrow1.png" alt="" />
			<p class="p2">获取策略和创意</p>
			<img src="/images/m/arrow2.png" alt="" />
			<p class="p2">选择导演并执行</p>
		</div>
		<div class="intro">
			<div class="section">
				<img src="/images/m/section2.png" alt="" width="100%"/>
				<div class="textarea">
					<p class="p2">来自全球的拍摄资源</p>
					<p>我们将视频的拍摄执行放到了泰国，提升执行品质的同时，还帮助客户合理地控制了价格。泰国早在几十年前，就成为了整个欧美在亚洲的摄制中心。</p>
				</div>
			</div>
			<div class="section">
				<img src="/images/m/section3.png" alt="" width="100%"/>
			</div>
			<div class="section">
				<img src="/images/m/section4.png" alt="" width="100%"/>
			</div>
			<div class="section">
				<img src="/images/m/section5.png" alt="" width="100%"/>
			</div>
		</div>
	</div>
</body>
<script src="/vendor/zepto.min.js"></script>
<script src="/vendor/islider.min.js"></script>
<script src="/vendor/islider.plugin.dot.js"></script>
<script src="/js/index_mobile.js"></script>
</html>
