<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>ideaology</title>
    <link rel="stylesheet" href="/css/index.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    {{> nav current='1'}}
    <div class="wrap">
		<div class="slider" id="slider">
            <div>
                <p class="title">来这里，享受最专业的 创意视频 制作服务</p>
                <p>“我们可能是世界上最糟糕的广告公司，<br/>《世糟广》因而成为了公司的名字”</p>
            </div>
            <div>
                <p class="title">来这里，享受最专业的 创意视频 制作服务</p>
                <p>“我们可能是世界上最糟糕的广告公司，<br/>《世糟广》因而成为了公司的名字”</p>
            </div>
		</div>
        <div class="banner">
            <img src="images/section1.jpg" alt="">
        </div>
        <div class="content">
            <a href="mailto::infor@ideaology.cn" class="consume-btn">获取免费咨询</a>
            <div class="intro">
                <p class="p2">我们的服务流程</p>
                <p>仅需3步，即可畅享世界级的服务体验。</p>
            </div>
            <div class="list">
                <div class="item">
                    <p class="title">提交项目概要</p>
                    <p>研究无数客户需求后，我们整理出业内最高效的几个问题，帮助客户专注思考自身的同时，也帮助我们更懂你</p>
                </div>
                <div class="item">
                    <p class="title">获取策略和创意</p>
                    <p>每一个没有策略的创意都是瞎搞。拿到概要后，我们会帮助企业制定内容营销策略，并以此为基础生产创意</p>
                </div>
                <div class="item">
                    <p class="title">选择导演并执行</p>
                    <p>一旦确定策略和创意确定，我们会根据客户的需求和预算，邀请5-8位导演针对项目提供反馈，从而挑选出那个最好的导演</p>
                </div>
            </div>
        </div>
        <div class="content1">
            <ul>
                <li style="background-color: #FFD102;color:#000;">
                    <img src="/images/section2.jpg" alt="">
                    <p class="title">来自全球的拍摄资源</p>
                    <p>我们将视频的拍摄执行放到了泰国，提升执行品质的同时，还帮助客户合理地控制了价格。泰国早在几十年前，就成为了整个欧美在亚洲的摄制中心。</p>
                </li>
                <li style="background-color: #F5F5F5;">
                    <img src="/images/section3.jpg" alt="">
                    <p class="title">决策机制最优化</p>
                    <p>客户不再只面对某一位导演，而将直面整个行业，我们在给予客户充分选择的同时，也让整个决策流程更透明</p>
                </li>
                <li style="background-color: #25CE9E;">
                    <img src="/images/section4.jpg" alt="">
                    <p class="title">费用仅有行业均值的50%</p>
                    <p>感谢互联网打破了行业和信息的壁垒，让我们能够以行业平均50%的价格，为客户提供服务。我们的拍摄费用从10几万到上百万不等。</p>
                </li>
                <li style="background-color: #4088DA;color:#fff;">
                    <img src="/images/section5.jpg" alt="">
                    <p class="title">创意服务众包化</p>
                    <p>圈养的创意人员容易失去激情，<br>我们同上千位各大广告公司的</p>
                </li>
            </ul>
        </div>
        <div class="display">
            <h1>案例展示</h1>
            <ul class="content">
                <li><img src="/images/display1.jpg" alt=""></li>
                <li style="background: #4088DA">
                    <p class="title">京东 JD.COM</p>
                    <p class="subtitle">影院贴片广告</p>
                    <p>在美国队长3上映前，基于一条预告片而混剪制作的京东贴片广告。</p>
                </li>
                <li><img src="/images/display2.jpg" alt=""></li>
            </ul>
        </div>
        <div class="team">
            <h1>团队介绍</h1>
            <p>我们信任彼此，也期待彼此值得托付。我们坚持打造小规模高效能的精英团队，<br>厌恶加班，但又总是在深夜赶去为客户救火。职业操守是我们唯一的底线。</p>
            <ul class="team-member">
                <li>
                    <div class="avator avator1"></div>
                    <div class="info">
                        <p class="name">曹晨曦</p>
                        <p class="title">创意</p>
                        <p>4A出身，曾供职麦肯和蓝色光标。服务过上百家客户，大到上市公司，小至创业团队。公司创意担当。</p>
                    </div>
                </li>
                <li>
                    <div class="avator avator2"></div>
                    <div class="info">
                        <p class="name">杨奔</p>
                        <p class="title">战略</p>
                        <p>之前从事风险投资行业，曾供职深创投和奇虎360。公司战略担当。</p>
                    </div>
                </li>
                <li>
                    <div class="avator avator1 avator3"></div>
                    <div class="info">
                        <p class="name">DISSPONG SAMPATTAVANICH</p>
                        <p class="title">拍摄执行</p>
                        <p>毕业于纽约电影学院，获奖无数的广告导演。帮西门子拍过纪录片，也为创业公司做过病毒短片。公司在泰国的拍摄执行担当。</p>
                    </div>
                </li>
                <li>

                </li>
                <li>
                    <div class="avator avator1"></div>
                    <div class="info">
                        <p class="name">刘思伟</p>
                        <p class="title">财务</p>
                        <p>曾在德勤的审计部门任职多年，后加入奇虎360从事财务管理，公司的财务担当。</p>
                    </div>
                </li>
            </ul>
        </div>
	</div>
    {{> footer}}
</body>
<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/jquery.slides.min.js"></script>
<script src="/js/index.js"></script>
</html>
